 
.backLogin {
    background-image: url("https://ifce.edu.br/acarau/Imagens/galeria_fotos/historico/faccamp.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
  }
 

.formLogin {
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px; 
    max-width: 500px;
    min-width: 400px;
    margin: auto auto;
    padding: 3rem;
    margin-top: 10%;
}

img{
    height: 30%;
    width: 130px;
}

.bgvisuallg {
    position:absolute;
    background-color: rgba(0, 10, 0, 0.7);
	width:100%;
	height:100%;
    min-width: 500px;

}

.form-label {
    color: green;
}

.btn-tam{
    width: 100%;
}

.btn-tam2{
    width: 100%;
    color: green;
}

.alerta{
    margin: 2rem auto auto;
    max-width: 31rem;
}