.backSobre {
  background-image: url("./img/ifCedro.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 95vh;
  /*filter: brightness(0.5); */
}

.bgvisualsb {
  background-size: auto;
  position: absolute;
  background-color: rgba(0, 10, 0, 0.6);
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 17% 0% 0% 8%;
}

h2 {
  color: #35d246;
  font-size: 60px;
  font-family: arial;
  font-weight: bold;
}

span {
  color: #ffffff;
  font-size: 25px;
  font-family: arial;
  padding: 1.5% 0%;
}

.pg1 {
  background-size: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 70rem;
  margin: auto auto;
}

.card-sobre {
  width: 18rem;
  height: 35rem;
}

.card-sobre img {
  height: 18rem;
}

.pp-dd-bt {
  padding-left: 4rem;
}

.alinhamento {
  padding-top: 2%;
  max-width: 119rem;
}

.card-apresentar {
  max-width: 50rem;
  background-color: #198754;
  border-radius: 0%;
}

.devs {
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  padding: 30% 0% 0% 30%;
}
